/*	This snip adds a subtle transition to your expandos on your
 *	subverse. It fades in ever so slightly when expanded, so you
 *	may not even notice it, but it gives it more of a smooth
 *	style.
 */
 
/* Adjust the expanded submission box a little and
 *  add some animation to fit with the site.
 * This is when you click the plus button and the box
 * with the message expands. This is just the box that
 * has the message in it.
 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.expando {
    padding-right: 10px;
    -webkit-animation: fadeIn .2s;
    animation: fadeIn .2s;
}