/*	Add a picture to your header. Just edit the background
 *	url to the url of the picture you want to use. Recommended
 *	size is 200px, but change the height to whatever the size
 *	your picture/banner is. Just add this to the bottom of your
 *	css when done.
 */
 
.dark #header {
    background: transparent;
    /* Use this if you want your own picture/banner here, just uncomment it */
    /* background: url('your picture url here'); */
    height: 150px; /* Change to the height of your picture */
    margin: 0;
}
.light #header {
    background: transparent;
    /* Use this if you want your own picture/banner here, just uncomment it */
    /* background: url('your picture url here'); */
    height: 150px; /* Change to the height of your picture */
    margin: 0;
}