/* Change the subscription buttons
 * Changes the Subscribe, Unsubscribe, Block,
 * and chat Submit buttons. The buttons on posting
 * are unaffected.
 */
.side .btn-sub,
.side .btn-unsub,
.side .btn-whoaverse-paging {
    display: block;
    width: 100%;
    height: 26px;
    margin: 10px auto;
    font-size: inherit;
    color: white;
    font-style: normal;
    font-weight: normal;
}
/* Resize the chatbox button to fit */
#collapseOne > div > button {
    position: relative;
    top: 0;
    width: 100%;
}