/*	This snip will change the background colors
 *	on your submissions. You can style even and
 *	odd, light and dark. Just change the 
 *	background variable to whatever color
 *	you want, or you can even make it a picture
 *	by using this instead:
 *	background: url ('your picture url here');
 *  This snip works really well with the link
 *  decoration one so that you can decorate as
 *  needed for even, odd, light, and dark.
 *	
 *	Just add this to the bottom of your current
 *	CSS and have fun!
 */
 
.light .even {
    background: #c0c0c0;
}
.light .odd {
    background: #FFFFFF;
}
.dark .even {
    background: #333333;
}
.dark .odd {
    background: #292929;
}