/*	This will change the visitor and subscriber names
 *	on the sidebar. You just need to edit it to display
 *	what you want. Where it says content: " ", edit
 *	what is in the quotation marks. Leave a space at
 *	the beginning so it doesn't look funny and 
 *	jammed together though. Just add this to the
 *	bottom of your css when done.
 */
 
/* User sidebar stuff */
.subscribers .number,
.subscribers .number:after,
 .users-online .number,
 .users-online .number:after {
    font-weight: bold;
}
.subscribers .word,
.users-online .word {
    display: none;
}
.subscribers .number:after {
    content: " Goats Subscribed"; /* You want to change this probably */
}
.users-online .number:after {
    content: " Stylish Goats Lurking"; /* You want to change this probably */
}