
/* 	Add to the bottom of your css to put a picture on the top of the sidebar.
 *	You will likely have to adjust the padding as well, just change the 100
 *	below to a different number if you need to. The snip is setup do have 
 *  different pictures for light and dark mode. Just set them both to the
 *  same picture if you want the same pic for both or remove one of them and
 *  remove the .light or .dark.
 */

.light div.side div.spacer:nth-of-type(1) {
    padding: 100px 0 0 !important;
    background: url('put url to your picture here and adjust the padding above') top center no-repeat;
    margin-top: -5px;
}
.dark div.side div.spacer:nth-of-type(1) {
    padding: 100px 0 0 !important;
    background: url('put url to your picture here and adjust the padding above') top center no-repeat;
    margin-top: -5px;
}