/* 
 *  Simplegoats TERA
 *  Simplegoats CSS by zombieman. Use however you want, and customize as you please.
 *
 *  -/v/simplegoats
 *  -https://github.com/relaxedzombie/simplegoats
 *
 *  Licensed Under the Creative Commons License CC0 1.0 Universal
 *  available at the link above (github)
 *
 *  A few tips:
 *  -put .light or .dark in front of elements to set things according to theme
 *  -.even and .odd are for the submission background and containers
 *
 *  Code now divided into sections to make it easier to navigate:
 *  - Overall
 *  - Header
 *  - Sidebar
 *  - Content
 *  - Footer
 *  - Mobile
 *  - Flair
 */
/*==========================================Overall==========================================*/
/* Google fonts import */
@import url(//fonts.googleapis.com/css?family=Arimo:400,700|Open+Sans:400,700|Roboto:400,700|Oxygen:400,700|Play:400,700|PT+Serif:400,700,400italic,700italic|Pontano+Sans);
/* Set the font and background stuff*/
body {
    font-family: 'Arimo', sans-serif;
    font-size: 10px;
    line-height: 1.20;
    background: url('https://slimgur.com/images/2015/07/11/0e6f28a5eb9c41937eadfd03066ab00b.jpg');
    background-attachment: fixed;
}
#container {
    padding-top: 50px;
    max-width: 100%;
    top: 12px;
}
.light #container {
    border: 1px solid #c0c0c0;
}
.dark #container {
    border: 1px solid #4B4B4B;
}
/* Link Decoration */
/* Light mode */
.light a:link,
.light .link a.author,
.light .sr-list li a{
    color: #224569;
    text-decoration: none;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.light a:link,
.light f.link a.author,
.light .sr-list li a{
    color: #224569;
    text-decoration: none;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.light a:visited,
.light .link a.author:visited {
    color: #224569;
    text-decoration: none;
    opacity: 0.75;
}
.light a:hover,
.light .link a.author:hover {
    color: #c0c0c0;
    text-decoration: none;
    opacity: 0.8;
}
.light a:active {
    color: #224569;
    text-decoration: none;
}
/* Dark mode */
.dark a:link,
.dark .link a.author,
.dark .sr-list li a{
    color: #c0c0c0;
    text-decoration: none;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.dark a:visited,
.dark .link a.author:visited {
    color: #c0c0c0;
    text-decoration: none;
    opacity: 0.75;
}
.dark a:hover,
.dark .link a.author:hover {
    color: #c0c0c0;
    text-decoration: none;
    opacity: 0.8;
}
.dark a:active {
    color: #224569;
    text-decoration: none;
}
/* Subverse Links Top Bar */
#sr-bar li a { 
    text-decoration: none;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
#sr-bar li a:hover {
    color: #224569;
    text-decoration: none;
    opacity: 0.8;
}
#sr-bar li a:visited {
    color: #c0c0c0;
    text-decoration: none;
    opacity: 0.75;
}
#sr-bar li a:active {
    color: #224569;
    text-decoration: none;
}
/* Links in Content */
/* .light .title:visited {
    color:#259FDD !important;
}
.dark .title:visited {
    color:#8f8f8f !important;
} */
/*==========================================Header==========================================*/
/* Header Pic */
#header {
    background: url('https://slimgur.com/images/2015/07/11/508511dc50944a4a9a5ce3242f9b592e.png');
    background-repeat: no-repeat;
	height: 201px;
	background-color: #000000;
	margin: 0;
}
/* Need some space between header and content */
#header-container {
    bottom: 1px;
    max-width: 100%;
}
.light #header-container {
    background: rgba(242, 242, 242, 0.7);
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
.dark #header-container {
    background: rgba(51, 51, 51, 0.7);
    border-top: 1px solid #4B4B4B;
    border-bottom: 1px solid #4B4B4B;
}
/* Sub name as image */
/* Setup the banner size */
#header-banner {
    font-size: 13px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    max-width: 98%;
}
/* Set the image as a goat */
#header-img {
    box-sizing: border-box;
    padding-left: 50px;
    background-image: url('https://i.imgur.com/NK49svv.png');
    background-size: 48px 48px;
    background-repeat: no-repeat;
    height: 50px !important;
    width: 50px !important;
    margin: 0;
    position: relative;
    top: 1px;
}
/* Lets remove 2 tabs from the bar, because they are on
 *  the sidebar already (submit link and discuss)
 */
#header-banner > ul > li:nth-child(4) > a,
#header-banner > ul > li:nth-child(5) > a {
    display: none;
}
/* Sub name as image */
/* This makes sure the subverse name text is hidden */
.pagename a[href$="/v/TERA"] {/* change this to the name of your subverse /v/whatever */
    font-size: 0 !important;
}
/* Set the actual picture to show up */
.pagename a[href$="/v/TERA"]:after {/* change this to the name of your subverse /v/whatever */
    content: url('https://slimgur.com/images/2015/07/11/ca6aae87f94a7dd449a9d1a89a73ef00.png'); /* Subverse name or picture url here */
    vertical-align: bottom;
}
/*==========================================Sidebar==========================================*/
/* Change the subverse name */
.titlebox .whoaversename a[href$="/v/TERA"] {
    font-size: 0 !important;
}
.titlebox .whoaversename a[href$="/rss/tera"]:before { /* This says :before, you can change to :after if needed */
    content: url('https://slimgur.com/images/2015/07/11/ca6aae87f94a7dd449a9d1a89a73ef00.png'); /* Subverse name or picture url here */
}
/* Sidebar Picture */
div.side div.spacer:nth-of-type(1) {
    padding: 100px 0 0 !important;
    background: url( 'https://slimgur.com/images/2015/07/11/53fd6309f06f613668256a91aea47d93.png' ) top center no-repeat;
    margin-top: -5px;
    overflow: hidden;
}
/* Change the search box */
.light #container > div.side > div:nth-child(1) > form {
    background: #F5F5F5;
}
.dark #container > div.side > div:nth-child(1) > form {
    background:  #333333;
}
/* Move RSS feed down */
.titlebox .hover {
    text-align: center;
    position: relative;
    top: 115px;
}
/* Essentially resets the elements position */
#container > div.side > div:nth-child(4) > div > h1 > a.hover {
    position: relative;
    top: 0px;
}
/* Move the subscribers, buttons,  and online people up */
.titlebox .subscribers,
.titlebox .users-online,
.side .btn-sub,
.side .btn-unsub,
.side .btn-whoaverse-paging {
    position: relative;
    top: -47px;
}
/*  Change the subscription, block, and chat
 *  buttons to look like the rest of the buttons.
 */
.side .btn-sub,
.side .btn-unsub,
.side .btn-whoaverse-paging {
    display: block;
    width: 100%;
    height: 26px;
    margin: 10px auto;
    font-size: inherit;
    color: white !important;
    font-style: normal;
    font-weight: normal;
}
/* Resize the chatbox button to fit */
#collapseOne > div > button {
    position: relative;
    top: 0;
    width: 100%;
}
/* Button colors */
.side button,
.btn-whoaverse.contribute,
.pagination-container .btn-whoaverse-paging a,
.btn-whoaverse-paging,
.tabmenu li.disabled a,
.tabmenu li a,
.tabmenu li.selected a,
.tabmenu li.disabled a.contribute,
.tabmenu li.selected a.contribute,
.btn-sub, .btn-sub a,
.btn-unsub,
.btn-unsub a {
    border-width: 1px;
    background: #224569;
    text-transform: lowercase;
    border-color: transparent;
    color: white !important;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.side button:hover,
.btn-whoaverse.contribute:hover,
.pagination-container .btn-whoaverse-paging a:hover,
.btn-whoaverse-paging:hover,
.tabmenu li.selected a:hover,
.tabmenu li.disabled a:hover,
.tabmenu li.disabled a.contribute:hover,
.tabmenu li.selected a.contribute:hover,
.tabmenu li a:hover,
.btn-sub:hover,
.btn-sub a:hover,
.btn-unsub:hover,
.btn-unsub a:hover {
    background: #c0c0c0;
    color: #0c0c0c;
    border-color: transparent;
    opacity: 0.8;
}
/* Adjust fonts on sub/unsub, block, and chat buttons */
.btn-whoaverse {
    font-weight: normal;
}
/* Sidebar content fixes */
/* This centers the header text */
.titlebox h1,
.titlebox h2,
.titlebox h3,
.titlebox h4,
.titlebox h5 {
    text-align: center;
}
/* Remove the italics */
.md h3, .md h4, .md h5, .md h6 {
    font-style: normal;
    font-size: 110%;
}
/* Put boxes around sidebar content */
.light .side .md h1,
.light .side .md h2,
.light .side .md h3,
.light .side .md h4,
.light .side .md h5 {
    background: rgba(192, 192, 192, 0.2);
    border: 1px solid #224569;
    border-radius: 4px;
    padding: 2px;
    font-size: 12px;
}
.dark .side .md h1,
.dark .side .md h2,
.dark .side .md h3,
.dark .side .md h4,
.dark .side .md h5 {
    background: rgba(41, 41, 41, 0.5);
    border: 1px solid #224569;    border-radius: 4px;
    padding: 2px;
    font-size: 12px;
}
.light .side .md h1 + blockquote,
.light .side .md h2 + blockquote,
.light .side .md h3 + blockquote,
.light .side .md h4 + blockquote,
.light .side .md h5 + blockquote {
    background: rgba(192, 192, 192, 0.2);
    border: 1px solid #224569;
    border-radius: 4px;
    padding: 5px;
    font-size: 11px;
}
.dark .side .md h1 + blockquote,
.dark .side .md h2 + blockquote,
.dark .side .md h3 + blockquote,
.dark .side .md h4 + blockquote,
.dark .side .md h5 + blockquote {
    background: rgba(41, 41, 41, 0.5);
    border: 1px solid #224569;    border-radius: 4px;
    padding: 5px;
    font-size: 11px;
}
/* User sidebar stuff */
.subscribers .number,
.subscribers .number:after,
.users-online .number,
.users-online .number:after {
    font-weight: bold;
}
.subscribers .word,
.users-online .word {
    display: none;
}
.subscribers .number:after {
    content: " Arboreans"; /* You want to change this probably */
}
.users-online .number:after {
    content: " Arboreans Doing Dailies"; /* You want to change this probably */
}
/* Change the moderator title above the box */
.side .helplink + .title h1 {
    display: none;
}
.side .helplink + .title:before {
    content: "Skywhales"; /* Change to what you want to be called */
    font-size: 110%;
}
/* Make room for the flair in the Mod box */
#container > div.side > div:nth-child(5) > div > ul {
    line-height: 1.8;
}
/*==========================================Content==========================================*/
/* Top banner for announcements or news */
.side .titlebox .md > h6:nth-of-type(1) {
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 3px 0px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.light .side .titlebox .md > h6:nth-of-type(1) {
    background: #c0c0c0;
    color: #224569;
}
.dark .side .titlebox .md > h6:nth-of-type(1) {
    background: #224569;
    color: #c0c0c0;
    border: 1px solid #161616;
}
/* Adjust the expanded submission box a little and
 *  add some animation to fit with the site.
 * This is when you click the plus button and the box
 * with the message expands. This is just the box that
 * has the message in it.
 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.expando {
    padding-right: 10px;
    -webkit-animation: fadeIn .2s;
    animation: fadeIn .2s;
}
/*  Change the background on the dark theme for the
 *   user code stuff
 */ 
.dark .link .usertext .md pre,
.dark .link .usertext .md code {
    background: #292929;
}
/* Separate stickies */
.light .stickied {
    margin-bottom: 10px;
    border: 1px solid #224569;
}
.dark .stickied {
    margin-bottom: 10px;
    border: 1px solid #292929;
}
/* Submission backgrounds
 * In other words, when you look at your sub's wall, this will be each post,
 * even or odd. This is what controls the colors behind the text.
 */
.light .even {
    background: #e5e5e5;
    margin-bottom: 1px;
    border-radius: 4px;
}
.light .odd {
    background: #FFFFFF;
    margin-bottom: 1px;
    border-radius: 4px;
}
.dark .even {
    background: #333333;
    margin-bottom: 1px;
    border-radius: 4px;
}
.dark .odd {
    background: #292929;
    margin-bottom: 1px;
    border-radius: 4px;
}
/* Change the scorebar to be more flashy, but not in the way.
 *  Change any colors to suit you, and to change the shape,
 *  you have to change the border-radius under .scorebar.
 */
.light .scorebar-likes{
    background: #c0c0c0;
}
.light .scorebar-dislikes{
    background: #333333;
}
.dark .scorebar-likes{
    background: #c0c0c0;
}
.dark .scorebar-dislikes{
    background: #0c0c0c;
}
.midcol {
    margin-left: 5px;
}
.scorebar {
    width:8px;
    border-radius: 4px;
}
/*==========================================Footer==========================================*/
.footer:before {
  content: "Design by /v/simplegoats"; /* please do not remove */
  /* Use this to add any other attrition */
  /* content: " Modified by: "; */
  color: #6d6d6d;
  padding: 2px;
  font-size: 10px;
  margin-bottom: 2%;
}
.light .footer:before,
.light .footer:after,
.light .footer {
    background: rgba(242, 242, 242, 0.8);
    width: 100%;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    clear: both;
    position: relative;
    border-radius: 2px;
}
.dark .footer:before,
.dark .footer:after,
.dark .footer {
    background: rgba(51, 51, 51, 0.8);
    width: 100%;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    clear: both;
    position: relative;
    border-radius: 2px;
}
.light .footer {
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
.dark .footer {
    border-top: 1px solid #4B4B4B;
    border-bottom: 1px solid #4B4B4B;
}
/*==========================================Mobile==========================================*/
@media (max-width: 870px) {
    .content {
        margin-right: 0;
    }
    .side {
        width: 300px;
    }
    /* Move the buttons around for usability */
    .side .btn-sub,
    .side .btn-unsub,
    .side .btn-whoaverse-paging {
        width: 100%;
        position: relative;
        top: -26px;
    }
    #collapseOne > div > button {
        position: relative;
        top: 0;
        width: 100%;
    }
    /* Adjust the header based on screen size */
    .light #header-account {
        background: #F6F6F6;
        position: relative;
        top: 26px;
        padding: 2px 6px 5px;
        border-radius: 3px;
        margin: 0 0 14px;
        border: 1px solid #dcdcdc;
        text-align: center;
    }
    .dark #header-account {
        position: relative;
        top: 26px;
        background: #333333;
        border: 1px solid #222;
        border-radius: 3px;
        margin: 0 0 14px;
        padding: 2px 6px 5px;
        text-align: center;
    }
    .tabmenu {
        position: relative;
    }
    /* Enable the other two tab menu buttons because
     *  the sidebar disappears
     */
    #header-banner > ul > li:nth-child(4) > a,
    #header-banner > ul > li:nth-child(5) > a {
        display: inline;
    }
    /* Hide the announcements */
     h6 {
         visibility: hidden; 
     }
     /* Resize the expandable sidebar */
    .side {
         height: calc(100vh - 175px);
    }
    /* Move the goat and site image/name over a little */
    .pagename,
    #header-img {
        position: relative;
        left: 10px;
    }
}
@media (max-width: 700px) {
    /* Setup the mobile style for the tab menu */
    .tabmenu {
        background-color: #333333;
        position: relative;
        top: -19px;
        max-width: 90%;
        margin: auto;
        border-radius: 0px 0px 3px 3px;
    }
    .tabmenu li.disabled a {
        box-shadow: none;
        color: #c0c0c0;
    }
    /* Hide the goat and site image/name */
    .pagename a {
        visibility: hidden;
    }
    .side .titlebox .md > h6:nth-of-type(1) {
        display: none;
    }
    /* Setup the light and dark account bar */
    .light #header-account {
        font-size: 12px;
        line-height: 20px;
        padding: 0px;
        position: relative;
        top: -75px;
        text-align: center;
        margin: auto;
        max-width: 90%;
        background-color: #333333;
        color: #c0c0c0;
        border: 0px;
        border-radius: 3px 3px 0px 0px;
    }
    .dark #header-account {
        font-size: 12px;
        line-height: 20px;
        padding: 0px;
        position: relative;
        top: -75px;
        text-align: center;
        margin: auto;
        max-width: 90%;
        background-color: #333333;
        color: #c0c0c0;
        border: 0px;
        border-radius: 3px 3px 0px 0px;
    }
    #header-account a {
        color: #c0c0c0;
    }
    /* Hide the announcements again */
     h6 {
         visibility: hidden; 
     }
     /* Hide the goat and site pic/name again */
    .pagename,
    #header-img {
        visibility: hidden;
    }
    /* Resize the side bar again */
    .side {
        height: calc(100vh - 215px);
    }
}
/* Flair */
/* You will want to customize this to match your subverse
 * Change the colors, backgrounds, and possibly border color
 */
.flair-optimize {
    display: inline-block;
    color: #224569;
    background: yellow;
    border-radius: 2px;
    display: inline-block;
    font-family: inherit;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 11px;
    margin-right: 3px;
    max-width: 60px;
    min-width: 48px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    white-space: nowrap;
    text-transform: lowercase;
}
.flair-official {
    display: inline-block;
    color: white;
    background: #048BF0;
    border-radius: 2px;
    display: inline-block;
    font-family: inherit;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 11px;
    margin-right: 3px;
    max-width: 60px;
    min-width: 48px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    white-space: nowrap;
    text-transform: lowercase;
}
.flair-event {
    display: inline-block;
    color: white;
    background: green;
    border-radius: 2px;
    display: inline-block;
    font-family: inherit;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 11px;
    margin-right: 3px;
    max-width: 60px;
    min-width: 48px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    white-space: nowrap;
    text-transform: lowercase;
}
/*==========================================User Flair==========================================*/
a[href$="/user/zombieman"]:not(.upvoatsGiven)::after { /* put your user name here that needs flair */
    background: #259FDD; /* color of the flair */
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    color: #ffffff; /* color of the text in the flair */
    margin: 0px 3px 0px 3px;
    padding: 2px 4px;
    vertical-align: middle;
    content: "Mod"; /* what the flair says */
    font-size: 9px;
    letter-spacing: 0.8px;
}
a[href$="/user/Knifemare"]:not(.upvoatsGiven)::after { /* put your user name here that needs flair */
    background: #259FDD; /* color of the flair */
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    color: #ffffff; /* color of the text in the flair */
    margin: 0px 3px 0px 3px;
    padding: 2px 4px;
    vertical-align: middle;
    content: "Mod"; /* what the flair says */
    font-size: 9px;
    letter-spacing: 0.8px;
}
a[href$="/user/Maxus"]:not(.upvoatsGiven)::after { /* put your user name here that needs flair */
    background: #259FDD; /* color of the flair */
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    color: #ffffff; /* color of the text in the flair */
    margin: 0px 3px 0px 3px;
    padding: 2px 4px;
    vertical-align: middle;
    content: "Mod"; /* what the flair says */
    font-size: 9px;
    letter-spacing: 0.8px;
}