/*======================================Simplegoats CSS=======================================*/
/*
  * Simplegoats Default
  * Simplegoats CSS by zombieman.
  * -https://github.com/relaxedzombie/simplegoats
  * Licensed Under the Creative Commons License CC0 1.0 Universal
  * 
  * -/v/Starbards
  * https://github.com/Phoenixwolf/simplegoats/blob/master/subverses/Simplegoats.Starbards.css
  * 
  * Code divided into sections to make it easier to navigate:
  * -Overall
  * -Header
  * -Sidebar
  * -Content
  * -Footer
  * -Mobile
  * -Flair
*/
/*==========================================Overall===========================================*/
/* Google fonts import */
@import url(//fonts.googleapis.com/css?family=Arimo:400,700|Open+Sans:400,700|Roboto:400,700|Oxygen:400,700|Play:400,700|PT+Serif:400,700,400italic,700italic|Pontano+Sans);
/* Set the font and background stuff*/
body {
	font-family: 'Arimo', sans-serif;
	font-size: 10px;
	line-height: 1.20;
}
/* Dark theme page background */
.dark {
	background: url('');
	/* Use this if you want the background fixed even when scrolling */
	/* Just uncomment it */
	/* background-attachment: fixed; */
}
/* Light theme page background */
.light {
	background: url('');
	/* Use this if you want the background fixed even when scrolling */
	/* Just uncomment it */
	/* background-attachment: fixed; */
}
/* What contains the whole site area */
#container {
	max-width: 100%;
	padding-top: 50px;
}
.light #container {
	border: 1px solid #c0c0c0;
}
.dark #container {
	border: 1px solid #4B4B4B;
}
/* Link Decoration, separated out for ease of customizing */
/* Light mode */
.light a:link,
.light .link a.author,
.light .sr-list li a {
	color: #333333;
	text-decoration: none;
	transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
}
.light a:visited,
.light .link a.author:visited {
	color: #333333;
	text-decoration: none;
	opacity: 0.75;
}
.light a:hover,
.light .link a.author:hover {
	color: #333333;
	text-decoration: none;
	opacity: 0.8;
}
.light a:active {
	color: #333333;
	text-decoration: none;
}
/* Dark mode */
.dark a:link,
.dark .link a.author,
.dark .sr-list li a{
	color: #c0c0c0;
	text-decoration: none;
	transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
}
.dark a:visited,
.dark .link a.author:visited {
	color: #c0c0c0;
	text-decoration: none;
	opacity: 0.75;
}
.dark a:hover,
.dark .link a.author:hover {
	color: #c0c0c0;
	text-decoration: none;
	opacity: 0.8;
}
.dark a:active {
	color: #c0c0c0;
	text-decoration: none;
}
/* Subverse Links Top Bar */
#sr-bar li a {
	color: #c0c0c0;
	text-decoration: none;
	transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
}
#sr-bar li a:hover {
	color: #c0c0c0;
	text-decoration: none;
	opacity: 0.8;
}
#sr-bar li a:visited {
	color: #c0c0c0;
	text-decoration: none;
	opacity: 0.75;
}
#sr-bar li a:active {
	color: #c0c0c0;
	text-decoration: none;
}
/* Links in Content */
/*.light .title:visited {
	color:#259FDD !important;
}
.dark .title:visited {
	color:#8f8f8f !important;
} */
/*==========================================Header============================================*/
.light #header {
	background: transparent;
	/* Use this if you want your own picture/banner here, just uncomment it */
	background: url('https://slimgur.com/images/2015/07/15/b90df92b0d7233ac29456f4a9fdb69f7.png') no-repeat;
	height: 150px; /* Change to the height of your picture */
	margin: 0;
	position: left top;
	background-size: 100% 100%
}
.dark #header {
	background: transparent;
	/* Use this if you want your own picture/banner here, just uncomment it */
	background: url('https://slimgur.com/images/2015/07/15/b90df92b0d7233ac29456f4a9fdb69f7.png') no-repeat;
	height: 150px; /* Change to the height of your picture */
	margin: 0;
	position: left top;
	background-size: 100% 100%;
}
#header-container {
	bottom: 10px;
	max-width: 100%;
	height: 36px;
}
.light #header-container {
	background: rgba(242, 242, 242, 0.5);
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	top: 150px
}
.dark #header-container {
	background: rgba(51, 51, 51, 0.5);
	border-top: 1px solid #4B4B4B;
	border-bottom: 1px solid #4B4B4B;
	top: 150px
}
#header-banner {
	position: relative;
	max-width: 100%;
	top: -12px;
}
/* Set the goat picture for voat link */
#header-img {
	box-sizing: border-box;
	padding-left: 0px;
	background-image: url('URL HERE');
	background-size: 0px 0px;
	background-repeat: no-repeat;
	height: 0px !important;
	width: 0px !important;
	margin: 0;
	position: relative;
	top: 0px;
}
/* Lets remove 2 tabs from the bar, because they are on
 *  the sidebar already (submit link and discuss)
 */
#header-banner > ul > li:nth-child(4) > a,
#header-banner > ul > li:nth-child(5) > a {
	display: none;
}
/* Sub name as image */
/* This makes sure the subverse name text is hidden */
.pagename a[href$="/v/Starbards"] {/* change this to the name of your subverse /v/whatever */
	font-size: 0 !important;
}
/* Set the actual picture to show up */
.pagename a[href$="/v/Starbards"]:after {/* change this to the name of your subverse /v/whatever */
	content: "Starbards"; /* Subverse name or picture url here */
	/*content: url('https://slimgur.com/images/2015/06/16/5d6132ac7aa502e5ee0d0b170a6e365d.png');*/
	font-family: Oxygen, sans-serif;
	font-size: 18px;
	font-weight: bold;
	vertical-align: bottom;
}
/*==========================================Sidebar===========================================*/
/* Change the subverse name */
.titlebox .whoaversename a[href$="/v/Starbards"] {
	font-size: 0 !important;
}
.titlebox .whoaversename a[href$="/rss/Starbards"]:after { /* This says :before, you can change to :after if needed */
	content: " Starbards RSS"; /* Subverse name or picture url here */
	/*content: url('https://slimgur.com/images/2015/06/16/5d6132ac7aa502e5ee0d0b170a6e365d.png');*/
	font-family: Oxygen, sans-serif;
	font-size: 18px;
}
/* Sidebar Picture */
.light div.side div.spacer:nth-of-type(1) {
	padding: 0px 0 0 !important;
	background: url('') top center no-repeat;
	margin-top: -5px;
	overflow: hidden;
}
.dark div.side div.spacer:nth-of-type(1) {
	padding: 0px 0 0 !important;
	background: url('') top center no-repeat;
	margin-top: -5px;
	overflow: hidden;
}
/* Change the search box */
.light #container > div.side > div:nth-child(1) > form {
	background: #F5F5F5;
}
.dark #container > div.side > div:nth-child(1) > form {
	background:  #333333;
}
/* Move RSS feed down */
.titlebox .hover {
	text-align: left;
	position: relative;
	top: 115px;
}
/* Essentially resets the elements position */
#container > div.side > div:nth-child(4) > div > h1 > a.hover {
	position: relative;
	top: 0px;
}
/* Move the subscribers, buttons,  and online people up */
.titlebox .subscribers,
.titlebox .users-online,
.side .btn-sub,
.side .btn-unsub,
.side .btn-whoaverse-paging {
	position: relative;
	top: -30px;
}
/* Change the subscription buttons
 * Changes the Subscribe, Unsubscribe, Block,
 * and chat Submit buttons. The buttons on posting
 * are unaffected.
 */
.side .btn-sub,
.side .btn-unsub,
.side .btn-whoaverse-paging {
	display: block;
	width: 100%;
	height: 26px;
	margin: 10px auto;
	font-size: inherit;
	color: white !important;
	font-style: normal;
	font-weight: normal;
}
/* Resize the chatbox button to fit */
#collapseOne > div > button {
	position: relative;
	top: 0;
	width: 100%;
}
/* Button colors separated for light and dark */
/* Side buttons */
.dark .side button,
.dark .btn-whoaverse.contribute,
.dark .pagination-container .btn-whoaverse-paging a,
.dark .btn-whoaverse-paging,
.dark .btn-sub,
.dark .btn-sub a,
.dark .btn-unsub,
.dark .btn-unsub a, 
.dark .tabmenu li.disabled a,
.dark .tabmenu li a,
.dark .tabmenu li.selected a,
.dark .tabmenu li.disabled a.contribute,
.dark .tabmenu li.selected a.contribute {
	border-width: 1px;
	background: #292929; /* This is the normal button color */
	text-transform: lowercase;
	font-style: normal;
	border-color: transparent;
	color: white !important;
	transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
}
.dark .side button:hover,
.dark .btn-whoaverse.contribute:hover,
.dark .pagination-container .btn-whoaverse-paging a:hover,
.dark .btn-whoaverse-paging:hover,
.dark .btn-sub:hover,
.dark .btn-sub a:hover,
.dark .btn-unsub:hover,
.dark .btn-unsub a:hover,
.dark .tabmenu li.selected a:hover,
.dark .tabmenu li.disabled a:hover,
.dark .tabmenu li.disabled a.contribute:hover,
.dark .tabmenu li.selected a.contribute:hover,
.dark .tabmenu li a:hover {
		background: #c0c0c0; /* This is the button color while hovering it */
		color: #292929; /* This is the text color while hovering over it */
		border-color: transparent;
		opacity: 0.8;
}
.light .side button,
.light .btn-whoaverse.contribute,
.light .pagination-container .btn-whoaverse-paging a,
.light .btn-whoaverse-paging,
.light .btn-sub,
.light .btn-sub a,
.light .btn-unsub,
.light .btn-unsub a,
.light .tabmenu li.disabled a,
.light .tabmenu li a,
.light .tabmenu li.selected a,
.light .tabmenu li.disabled a.contribute,
.light .tabmenu li.selected a.contribute {
	border-width: 1px;
	background: #c0c0c0; /* This is the normal button color */
	text-transform: lowercase;
	font-style: normal;
	border-color: transparent;
	color: white !important;
	transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
}
.light .side button:hover,
.light .btn-whoaverse.contribute:hover,
.light .pagination-container .btn-whoaverse-paging a:hover,
.light .btn-whoaverse-paging:hover,
.light .btn-sub:hover,
.light .btn-sub a:hover,
.light .btn-unsub:hover,
.light .btn-unsub a:hover,
.light .tabmenu li.selected a:hover,
.light .tabmenu li.disabled a:hover,
.light .tabmenu li.disabled a.contribute:hover,
.light .tabmenu li.selected a.contribute:hover,
.light .tabmenu li a:hover {
		background: #333333; /* This is the button color while hovering it */
		color: #0c0c0c; /* This is the text color while hovering over it */
		border-color: transparent;
		opacity: 0.8;
}
/* Adjust fonts on sub/unsub, block, and chat buttons */
.btn-whoaverse {
	font-weight: normal;
}
/* Sidebar content fixes */
/* This centers the header text */
/* This centers the header text */
.titlebox h1,
.titlebox h2,
.titlebox h3,
.titlebox h4,
.titlebox h5 {
	text-align: center;
}
/* Remove the italics */
.md h3, .md h4, .md h5, .md h6 {
	font-style: normal;
	font-size: 110%;
}
/* Put boxes around sidebar content */
.light .side .md h1,
.light .side .md h2,
.light .side .md h3,
.light .side .md h4,
.light .side .md h5 {
	background: rgba(192, 192, 192, 0.2);
	border: 1px solid;
	border-radius: 2px;
	padding: 2px;
	font-size: 12px;
}
.dark .side .md h1,
.dark .side .md h2,
.dark .side .md h3,
.dark .side .md h4,
.dark .side .md h5 {
	background: rgba(41, 41, 41, 0.5);
	border: 1px solid;
	border-radius: 2px;
	padding: 2px;
	font-size: 12px;
}
.light .side .md h1 + blockquote,
.light .side .md h2 + blockquote,
.light .side .md h3 + blockquote,
.light .side .md h4 + blockquote,
.light .side .md h5 + blockquote {
	background: rgba(192, 192, 192, 0.2);
	border: 1px solid;
	border-radius: 2px;
	padding: 5px;
	font-size: 11px;
}
.dark .side .md h1 + blockquote,
.dark .side .md h2 + blockquote,
.dark .side .md h3 + blockquote,
.dark .side .md h4 + blockquote,
.dark .side .md h5 + blockquote {
	background: rgba(41, 41, 41, 0.5);
	border: 1px solid;
	border-radius: 2px;
	padding: 5px;
}
/* If you want a border around the whole user content
 *  part of the sidebar, uncomment this:
 */
.light  #form-xxxx {
	border: 1px solid #c0c0c0;
	padding: 6px; 
 }
 .dark  #form-xxxx {
	border: 1px solid #292929;
	padding: 6px; 
 }
 /* User sidebar stuff */
.subscribers .number,
.subscribers .number:after,
 .users-online .number,
 .users-online .number:after {
	font-weight: bold;
}
.subscribers .word,
.users-online .word {
	display: none;
}
.subscribers .number:after {
	content: " Starbards"; /* You want to change this probably */
}
.users-online .number:after {
	content: " Musicians here now"; /* You want to change this probably */
}
 /* Change the moderator title above the box */
.side .helplink + .title h1 {
	display: none;
}
.side .helplink + .title:before {
	content: "Moderator"; /* Change to what you want to be called */
	font-size: 110%;
}
/*==========================================Content===========================================*/
/* Top banner for announcements or news */
.side .titlebox .md > h6:nth-of-type(1) {
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 3px 0px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.light .side .titlebox .md > h6:nth-of-type(1) {
	background: #c0c0c0;
	color: #333333;
}
.dark .side .titlebox .md > h6:nth-of-type(1) {
	background: #292929;
	color: #c0c0c0;
}
/* Adjust the expanded submission box a little and
 *  add some animation to fit with the site.
 * This is when you click the plus button and the box
 * with the message expands. This is just the box that
 * has the message in it.
 */
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
.expando {
	padding-right: 10px;
	-webkit-animation: fadeIn .2s;
	animation: fadeIn .2s;
}
/*  Change the background on the dark theme for the
 *   user code stuff
 */ 
.dark .link .usertext .md pre,
.dark .link .usertext .md code {
	background: #292929;
}
/* Separate stickies */
.light .stickied {
	margin-bottom: 10px;
	border: 1px solid #333333;
}
.dark .stickied {
	margin-bottom: 10px;
	border: 1px solid #292929;
}
/* Submission backgrounds
 * In other words, when you look at your sub's wall, this will be each post,
 * even or odd. This is what controls the colors behind the text.
 */
.light .even {
	background: #e5e5e5;
	margin-bottom: 1px;
	border-radius: 4px;
}
.light .odd {
	background: #FFFFFF;
	margin-bottom: 1px;
	border-radius: 4px;
}
.dark .even {
	background: #333333;
	margin-bottom: 1px;
	border-radius: 4px;
}
.dark .odd {
	background: #292929;
	margin-bottom: 1px;
	border-radius: 4px;
}
/* Change the scorebar to be more flashy, but not in the way.
 *  Change any colors to suit you, and to change the shape,
 *  you have to change the border-radius under .scorebar.
 */
.light .scorebar-likes{
	background: #c0c0c0;
}
.light .scorebar-dislikes{
	background: #333333;
}
.dark .scorebar-likes{
	background: #c0c0c0;
}
.dark .scorebar-dislikes{
	background: #0c0c0c;
}
.midcol {
	margin-left: 5px;
}
.scorebar {
	width:8px;
	border-radius: 4px;
}
/*==========================================Footer============================================*/
.footer:before {
  content: "Design by /v/simplegoats"; /* please do not remove */
  /* Use this to add any other attribution */
  /*content: " Modified by: /u/Phoenixwolf"; */
  color: #6d6d6d;
  padding: 2px;
  font-size: 10px;
  margin-bottom: 2%;
}
.light .footer:before,
.light .footer:after,
.light .footer {
	background: rgba(242, 242, 242, 0.5);
	width: 100%;
	height: 80px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	clear: both;
	position: relative;
	border-radius: 2px;
}
.dark .footer:before,
.dark .footer:after,
.dark .footer {
	background: rgba(51, 51, 51, 0.5);
	width: 100%;
	height: 80px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	clear: both;
	position: relative;
	border-radius: 2px;
}
.light .footer {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}
.dark .footer {
	border-top: 1px solid #4B4B4B;
	border-bottom: 1px solid #4B4B4B;
}
/*==========================================Mobile============================================*/
@media (max-width: 870px) {
	.content {
		margin-right: 0;
	}
	.side {
		width: 300px;
	}
	/* Move the buttons around for usability */
	.side .btn-sub,
	.side .btn-unsub,
	.side .btn-whoaverse-paging {
		width: 100%;
		position: relative;
		top: -26px;
	}
	#collapseOne > div > button {
		position: relative;
		top: 0;
		width: 100%;
	}
	/* Adjust the header based on screen size */
	.light #header-account {
		background: #F6F6F6;
		position: relative;
		top: 26px;
		padding: 2px 6px 5px;
		border-radius: 3px;
		margin: 0 0 14px;
		border: 1px solid #dcdcdc;
		text-align: center;
	}
	.dark #header-account {
		position: relative;
		top: 26px;
		background: #333333;
		border: 1px solid #222;
		border-radius: 3px;
		margin: 0 0 14px;
		padding: 2px 6px 5px;
		text-align: center;
	}
	.tabmenu {
		position: relative;
	}
	/* Enable the other two tab menu buttons because
	 *  the sidebar disappears
	 */
	#header-banner > ul > li:nth-child(4) > a,
	#header-banner > ul > li:nth-child(5) > a {
		display: inline;
	}
	/* Hide the announcements */
	 h6 {
		 visibility: hidden; 
	 }
	 /* Resize the expandable sidebar */
	.side {
		 height: calc(100vh - 175px);
	}
	/* Move the goat and site image/name over a little */
	.pagename,
	#header-img {
		position: relative;
		left: 10px;
	}
}
@media (max-width: 700px) {
	/* Set up the mobile style for the tab menu */
	.tabmenu {
		background-color: #333333;
		position: relative;
		top: -19px;
		max-width: 90%;
		margin: auto;
		border-radius: 0px 0px 3px 3px;
	}
	.tabmenu li.disabled a {
		box-shadow: none;
		color: #c0c0c0;
	}
	/* Hide the goat and site image/name */
	.pagename a {
		visibility: hidden;
	}
	.side .titlebox .md > h6:nth-of-type(1) {
		display: none;
	}
	/* Setup the light and dark account bar */
	.light #header-account {
		font-size: 12px;
		line-height: 20px;
		padding: 0px;
		position: relative;
		top: -75px;
		text-align: center;
		margin: auto;
		max-width: 90%;
		background-color: #333333;
		color: #c0c0c0;
		border: 0px;
		border-radius: 3px 3px 0px 0px;
	}
	.dark #header-account {
		font-size: 12px;
		line-height: 20px;
		padding: 0px;
		position: relative;
		top: -75px;
		text-align: center;
		margin: auto;
		max-width: 90%;
		background-color: #333333;
		color: #c0c0c0;
		border: 0px;
		border-radius: 3px 3px 0px 0px;
	}
	#header-account a {
		color: #c0c0c0;
	}
	/* Hide the announcements again */
	 h6 {
		 visibility: hidden; 
	 }
	 /* Hide the goat and site pic/name again */
	.pagename,
	#header-img {
		visibility: hidden;
	}
	/* Resize the side bar again */
	.side {
		height: calc(100vh - 215px);
	}
}}
/*==========================================Flair=============================================*/
/* You will want to customize this to match your subverse */
.flair{
display:inline-block;
vertical-align: top;
}

#linkflair{
display:none;
}

.flair-Music {
	color: white;
	background: blue;
	border-radius: 4px;
	display: inline-block;
	font-family: inherit;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 11px;
	margin-right: 3px;
	max-width: 60px;
	min-width: 48px;
	overflow: hidden;
	padding: 2px;
	text-align: center;
	white-space: nowrap;
	text-transform: lowercase;
}

/* Flair Template:
.flair-Name {
	color: white;
	background: green;
	border-radius: 4px;
	display: inline-block;
	font-family: inherit;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 11px;
	margin-right: 3px;
	max-width: 60px;
	min-width: 48px;
	overflow: hidden;
	padding: 2px;
	text-align: center;
	white-space: nowrap;
	text-transform: lowercase;
}
*/
/*========================================User Flair==========================================*/
a[href$="/user/Phoenixwolf"]:not(.upvoatsGiven)::after { /* put your user name here that needs flair */
    background: #259FDD; /* color of the flair */
    border: 1px solid #c0c0c0;
    border-radius: 4px; /* How round the edges are, higher number is more round */
    color: #ffffff; /* color of the text in the flair */
    margin: 0px 3px 0px 3px;
    padding: 0px 3px;
    vertical-align: middle;
    content: "Mod\\CSS"; /* what the flair says or can be a picture */
    font-size: 9px;
    letter-spacing: 0.8px;
}
